openapi: 3.1.0
info:
  title: w.ai Inference Chat Models API
  version: v1
  description: OpenAI-compatible HTTP API for on-demand AI inference on the w.ai decentralized compute network (WOMBO). Provides model discovery, text and vision-language chat completions with tool calling and streaming, text-to-image generation and editing, and object detection / segmentation over images and video. Faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://docs.w.ai/w.ai-api/api-features ; not an official provider-published specification.
  contact:
    name: w.ai (WOMBO)
    url: https://docs.w.ai/
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://docs.w.ai/w.ai-api/api-features.md
servers:
- url: https://api.w.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Models
  description: Model discovery
paths:
  /models:
    get:
      tags:
      - Models
      operationId: listModels
      summary: List available models
      description: Retrieve metadata for all available models on the network, including id, name, input/output modalities, context length, quantization level and supported sampling parameters and features.
      responses:
        '200':
          description: A list of available model objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
    Model:
      type: object
      properties:
        id:
          type: string
          example: llama-3.2-1b-4bit
        object:
          type: string
          example: model
        name:
          type: string
        created:
          type: integer
        input_modalities:
          type: array
          items:
            type: string
            enum:
            - text
            - image
            - video
            - audio
        output_modalities:
          type: array
          items:
            type: string
            enum:
            - text
            - image
            - video
            - audio
            - json
        context_length:
          type: integer
        quantization:
          type: string
          enum:
          - 4bit
          - 8bit
          - fp8
          - fp16
        supported_sampling_parameters:
          type: array
          items:
            type: string
        supported_features:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: wsk
      description: 'Developer API key issued at https://app.w.ai/developers/keys , sent as `Authorization: Bearer wsk-...`.'
