openapi: 3.1.0
info:
  title: w.ai Inference Chat Predictions API
  version: v1
  description: OpenAI-compatible HTTP API for on-demand AI inference on the w.ai decentralized compute network (WOMBO). Provides model discovery, text and vision-language chat completions with tool calling and streaming, text-to-image generation and editing, and object detection / segmentation over images and video. Faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://docs.w.ai/w.ai-api/api-features ; not an official provider-published specification.
  contact:
    name: w.ai (WOMBO)
    url: https://docs.w.ai/
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://docs.w.ai/w.ai-api/api-features.md
servers:
- url: https://api.w.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Predictions
  description: Object detection and segmentation
paths:
  /predictions:
    post:
      tags:
      - Predictions
      operationId: createPrediction
      summary: Run object detection or segmentation
      description: Run object detection (yolo11n) or image/video segmentation (sam2) over an image or video, returning JSON detections or an annotated image/video.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionRequest'
      responses:
        '200':
          description: Prediction result (JSON detections or annotated media).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
    PredictionRequest:
      type: object
      required:
      - model
      - input
      properties:
        model:
          type: string
          enum:
          - yolo11n
          - sam2
        input:
          type: object
          properties:
            image:
              type: string
              description: Image URL or base64.
            video:
              type: string
              description: Video URL or base64.
            return_json:
              type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: wsk
      description: 'Developer API key issued at https://app.w.ai/developers/keys , sent as `Authorization: Bearer wsk-...`.'
