openapi: 3.1.0
info:
  title: w.ai Inference Chat Images API
  version: v1
  description: OpenAI-compatible HTTP API for on-demand AI inference on the w.ai decentralized compute network (WOMBO). Provides model discovery, text and vision-language chat completions with tool calling and streaming, text-to-image generation and editing, and object detection / segmentation over images and video. Faithfully generated by the API Evangelist enrichment pipeline from the public documentation at https://docs.w.ai/w.ai-api/api-features ; not an official provider-published specification.
  contact:
    name: w.ai (WOMBO)
    url: https://docs.w.ai/
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://docs.w.ai/w.ai-api/api-features.md
servers:
- url: https://api.w.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Images
  description: Image generation and editing
paths:
  /images/generations:
    post:
      tags:
      - Images
      operationId: createImage
      summary: Generate an image
      description: Generate images from a text prompt using models such as flux-1-dev and sdxl. Supports size, quality, seed, steps, guidance_scale, negative_prompt and streaming progress updates.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated image result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /images/edits:
    post:
      tags:
      - Images
      operationId: createImageEdit
      summary: Edit an image
      description: Edit one or more existing images from a text prompt using FLUX Kontext models. Submitted as multipart/form-data with the source image file(s).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageEditRequest'
      responses:
        '200':
          description: Edited image result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ImageEditRequest:
      type: object
      required:
      - model
      - prompt
      - image
      properties:
        model:
          type: string
          example: flux-1-kontext-dev
        prompt:
          type: string
        image:
          type: string
          format: binary
        size:
          type: string
          default: 1024x1024
        negative_prompt:
          type: string
        seed:
          type: integer
        steps:
          type: integer
        guidance_scale:
          type: number
        quality:
          type: string
        stream:
          type: boolean
          default: false
    ImageGenerationRequest:
      type: object
      required:
      - model
      - prompt
      properties:
        model:
          type: string
          example: flux-1-dev
        prompt:
          type: string
        size:
          type: string
          default: 1024x1024
        quality:
          type: string
          enum:
          - low
          - medium
          - high
          - hd
        seed:
          type: integer
        steps:
          type: integer
          minimum: 1
          maximum: 100
        guidance_scale:
          type: number
          minimum: 1
          maximum: 20
        negative_prompt:
          type: string
        stream:
          type: boolean
          default: false
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: wsk
      description: 'Developer API key issued at https://app.w.ai/developers/keys , sent as `Authorization: Bearer wsk-...`.'
