openapi: 3.1.0
info:
  title: w.ai Inference API
  version: v1
  description: >-
    OpenAI-compatible HTTP API for on-demand AI inference on the w.ai
    decentralized compute network (WOMBO). Provides model discovery, text and
    vision-language chat completions with tool calling and streaming, text-to-image
    generation and editing, and object detection / segmentation over images and
    video. Faithfully generated by the API Evangelist enrichment pipeline from the
    public documentation at https://docs.w.ai/w.ai-api/api-features ; not an
    official provider-published specification.
  contact:
    name: w.ai (WOMBO)
    url: https://docs.w.ai/
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://docs.w.ai/w.ai-api/api-features.md
servers:
  - url: https://api.w.ai/v1
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Models
    description: Model discovery
  - name: Chat
    description: Text and vision-language chat completions
  - name: Images
    description: Image generation and editing
  - name: Predictions
    description: Object detection and segmentation
paths:
  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List available models
      description: >-
        Retrieve metadata for all available models on the network, including id,
        name, input/output modalities, context length, quantization level and
        supported sampling parameters and features.
      responses:
        '200':
          description: A list of available model objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /chat/completions:
    post:
      tags: [Chat]
      operationId: createChatCompletion
      summary: Create a chat completion
      description: >-
        Create a text or vision-language chat completion. Supports multimodal
        image_url content, tool/function calling and server-sent streaming.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: A chat completion (or an SSE stream when stream=true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /images/generations:
    post:
      tags: [Images]
      operationId: createImage
      summary: Generate an image
      description: >-
        Generate images from a text prompt using models such as flux-1-dev and
        sdxl. Supports size, quality, seed, steps, guidance_scale, negative_prompt
        and streaming progress updates.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated image result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /images/edits:
    post:
      tags: [Images]
      operationId: createImageEdit
      summary: Edit an image
      description: >-
        Edit one or more existing images from a text prompt using FLUX Kontext
        models. Submitted as multipart/form-data with the source image file(s).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageEditRequest'
      responses:
        '200':
          description: Edited image result.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /predictions:
    post:
      tags: [Predictions]
      operationId: createPrediction
      summary: Run object detection or segmentation
      description: >-
        Run object detection (yolo11n) or image/video segmentation (sam2) over an
        image or video, returning JSON detections or an annotated image/video.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionRequest'
      responses:
        '200':
          description: Prediction result (JSON detections or annotated media).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: wsk
      description: >-
        Developer API key issued at https://app.w.ai/developers/keys , sent as
        `Authorization: Bearer wsk-...`.
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Model:
      type: object
      properties:
        id:
          type: string
          example: llama-3.2-1b-4bit
        object:
          type: string
          example: model
        name:
          type: string
        created:
          type: integer
        input_modalities:
          type: array
          items:
            type: string
            enum: [text, image, video, audio]
        output_modalities:
          type: array
          items:
            type: string
            enum: [text, image, video, audio, json]
        context_length:
          type: integer
        quantization:
          type: string
          enum: ['4bit', '8bit', fp8, fp16]
        supported_sampling_parameters:
          type: array
          items:
            type: string
        supported_features:
          type: array
          items:
            type: string
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          example: llama-3.2-1b-4bit
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        max_tokens:
          type: integer
          minimum: 1
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1.0
        top_p:
          type: number
          minimum: 0
          maximum: 1
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
        stream:
          type: boolean
          default: false
        response_format:
          type: object
          example: { type: json_object }
        tools:
          type: array
          items:
            type: object
        tool_choice:
          description: none, auto, required, or a specific function object.
          oneOf:
            - type: string
              enum: [none, auto, required]
            - type: object
    ChatMessage:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [system, user, assistant, tool]
        content:
          description: A string, or an array of content parts (text / image_url).
          oneOf:
            - type: string
            - type: array
              items:
                type: object
        tool_calls:
          type: array
          items:
            type: object
        tool_call_id:
          type: string
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: chat.completion
        model:
          type: string
        choices:
          type: array
          items:
            type: object
    ImageGenerationRequest:
      type: object
      required: [model, prompt]
      properties:
        model:
          type: string
          example: flux-1-dev
        prompt:
          type: string
        size:
          type: string
          default: 1024x1024
        quality:
          type: string
          enum: [low, medium, high, hd]
        seed:
          type: integer
        steps:
          type: integer
          minimum: 1
          maximum: 100
        guidance_scale:
          type: number
          minimum: 1
          maximum: 20
        negative_prompt:
          type: string
        stream:
          type: boolean
          default: false
    ImageEditRequest:
      type: object
      required: [model, prompt, image]
      properties:
        model:
          type: string
          example: flux-1-kontext-dev
        prompt:
          type: string
        image:
          type: string
          format: binary
        size:
          type: string
          default: 1024x1024
        negative_prompt:
          type: string
        seed:
          type: integer
        steps:
          type: integer
        guidance_scale:
          type: number
        quality:
          type: string
        stream:
          type: boolean
          default: false
    PredictionRequest:
      type: object
      required: [model, input]
      properties:
        model:
          type: string
          enum: [yolo11n, sam2]
        input:
          type: object
          properties:
            image:
              type: string
              description: Image URL or base64.
            video:
              type: string
              description: Video URL or base64.
            return_json:
              type: boolean
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
